*	{
	margin: 0;
}

html, body	{
	height: 100%;
	font-family: "avenir light";
	background-color: #E63C3C;
}

h1 {
	font-family: "Verdana";
	font-size: 5.5em;
	color: #D2D2D2;
	position: relative;
    top: 50%;
    transform: translateY(-50%)
}

footer {
	background-color: #E63C3C;
	color: #D2D2D2;
	font-family: "Verdana";
	font-weight: bold;
	font-size: .9em;
	height: 2.5rem;
	width: 100%;
	position: relative;
	text-align: center;
	bottom: 0;
}

.section	{
	height: 100%;
	background-color: #E63C3C;
	padding-left: 3%;
}

/* header */

.header {
	background-color: #E63C3C;
	position: fixed;
	width: 100%;

  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #E63C3C;
  }
  
  .header li a {
	display: block;
	font-family: "Verdana";
	font-weight: bold;
    font-size: 2.5em;
	color: #D2D2D2;
	padding: 8px 16px ;
	text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	opacity: .7;
  }

  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: left;
	padding: 45px 30px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #D2D2D2;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 50px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #D2D2D2;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 180px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 70em) {
	.header li {
	  float: left;
	}

	.header li a {
		    font-size: 1.4em;
	color: #D2D2D2;
	padding: 20px 20px;
	}

	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }

  @media screen and (max-width: 670px) {
	h1 {
		font-size: 3.9em;
	}
}

@media (max-height: 60em) {
	h1 {
		top: 70%;
	}